@import './base.css';

.header{
    position: sticky;
    top: 0;
}

.logo-section{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.nav ul{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.logo-section a{
    font-family: Roboto;
    font-weight: 700;
    color: var(--mainColor);

}
.logo-section img{
    width: 40px;
    height: 40px;
}
.auth{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.auth button:nth-child(2) {
    background: #545BE8;
    color: white; 
}

.active{
    font-weight: 900;
}

.header .auth a{
    font-family: var(--subFont);
    padding: 10px 30px;
    border-radius: 5px;

}

.header .auth a:first-of-type{
    border: 1px solid var(--mainColor);
    color: var(--mainColor);
}

.header .auth a:last-of-type{
    background-color: var(--mainColor);
    color: #fff;
    
}

@media (max-width:920px){
    .nav{
        display: none;
    }
}