@import './base.css';
/* Start of Header */
.header{
    position: sticky;
    top: 0;
    background-color: #fff;
}

.logo-section{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.nav ul{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.logo-section a{
    font-family: Roboto;
    font-weight: 700;
    color: var(--mainColor);

}
.logo-section img{
    width: 40px;
    height: 40px;
}
.auth{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.auth button:nth-child(2) {
    background: #545BE8;
    color: white; 
}

.active{
    font-weight: 900;
}

.header .auth a{
    font-family: var(--subFont);
    padding: 10px 30px;
    border-radius: 5px;

}

.header .auth a:first-of-type{
    border: 1px solid var(--mainColor);
    color: var(--mainColor);
}

.header .auth a:last-of-type{
    background-color: var(--mainColor);
    color: #fff;
    
}

@media (max-width:920px){
    .nav{
        display: none;
    }
}
/* End header */

/* Start of footer */

.footer{
    background-color: #393E46;
    color: #fff;
    padding: 50px 0px;
}

.footer a{
    color: #fff;
}

.footer .row{
    gap: 40px;
}

.footer .footer-end, .footer .footer-start{
    width: calc( (100% - 40px)/ 2 );
}

.footer .footer-start{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
}

.footer .footer-start .logo{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}
.footer .footer-start .logo img{
    width: 40px;
}

.footer .footer-start .logo a{
    font-size: 14px;
}

.footer .footer-start p{
    color:#F4F4F4;
    font-size: 14px;
    font-weight: 200;
}

.footer .footer-start .icons{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.footer .footer-start .icons img{
    border: 1px solid #fff;
    padding: 10px;
    width: 15px;
    height: 15px;
    box-sizing: content-box;
}

.footer .footer-end .row{
    align-items: flex-start;

}

.footer-end .footer-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-end .footer-item ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}